<footer class="footer">
  <small>
    AWD Codestar Test<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.tedtkang.com/">Ted Kang</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.google.com/">News</a></li>
    </ul>
  </nav>
</footer>